<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jvanier.android.sendtocar"
    android:versionCode="29"
    android:versionName="4.0" xmlns:tools="http://schemas.android.com/tools">
	
	<uses-permission android:name="android.permission.INTERNET" />

    
    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:supportsRtl="false" tools:ignore="UnusedAttribute">
        <activity
            android:name="com.jvanier.android.sendtocar.controllers.SendToCarActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jvanier.android.sendtocar.controllers.TutorialActivity"
            android:label="@string/infoHowTo" >
        </activity>
        <activity
            android:name="com.jvanier.android.sendtocar.controllers.MakeActivity"
            android:label="@string/choose_make" >
        </activity>
    </application>

</manifest>